.js-gaming-button,.js-music-button, .js-tech-button {
  background-color: rgb(230,230,230);
  color: black;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 20px;
}
.is-toggled {
  background-color: black;
  color: white;
}