body {
  font-family: Arial;
}
.cost-input {
  padding: 10px;
  font-size: 15px;
}
.calculate-button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 15px;
  font-size: 15px;
  cursor: pointer;
}
.error-message {
  color: red;
  font-size: 18px;

}